<div class="container">
    
        <div class="row " *ngIf="(profile$ | async) as profileData">
            <div class="flex flex-col" *ngFor="let data of profileData">
               
                <div class="d-flex justify-content-center mt-5 ">
                    <div class="card mb-4 col-4 border-0" style=" box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); ">
                      <div class="card-body text-center">
                      

                        <div class="position-relative d-flex justify-content-center" style="width: 400px;">
                          <img id="profileImage" src="https://static.vecteezy.com/system/resources/previews/020/213/738/original/add-profile-picture-icon-upload-photo-of-social-media-user-vector.jpg" class="rounded-circle d-sm-block" style="width: 50%; height: 50%; object-fit: cover;" *ngIf="!isImage">
                          <img *ngIf="isImage" [src]="'http://localhost:3000/' + image$" alt="" class="w-100 h-100 rounded-circle d-none d-sm-block" style="object-fit: cover;">
                          <input id="imageInput" type="file" (change)="onFileSelected($event)" class="position-absolute top-0 left-0 opacity-0" style="width: 50%; height: 80%; cursor: pointer;">
                        </div>
                        
                          
                       
                        
                          <h5 class="my-3">{{data.name}}</h5>
                        <p class="text-muted mb-1">{{data.email}}</p>
                  
                        <div class="d-flex justify-content-center mb-2">
                          <button *ngIf="isImage" (click)="removeImage()" type="button" class="btn btn-danger">Remove Profile Image</button>
                        </div>
                      </div>
                    </div>

                <h1 class="text-xl font-semibold mb-2"></h1>
                <p class="text-l text-gray-500 font-semibold"></p>
            </div>
        </div>
</div>
