.image-container {
    position: relative;
    display: inline-block;
  }
  
  .icon {
    position: absolute;
    top: 10px; /* Adjust the position of the icon vertically */
    left: 10px; /* Adjust the position of the icon horizontally */
    /* Additional styling for the icon, e.g., size, color */
  }

  .card{
    background-color: #e5e5e5;
  }