<div class="container mt-5">
  <!-- Pills navs -->
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link " id="tab-login" data-mdb-toggle="pill" routerLink="/login" role="tab"
        aria-controls="pills-login" aria-selected="true">Login</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" routerLink="/registration" role="tab"
        aria-controls="pills-register" aria-selected="false">Register</a>
    </li>
  </ul>
 <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
 <!-- Name input -->
 <div class="form-outline mb-4">
    <input type="text" id="registerName" class="form-control" formControlName="name"/>
    <label class="form-label" for="registerName">Name</label>
    <div *ngIf="registerForm.controls['name'].errors">
      <p *ngIf="submit&&registerForm.controls.name.hasError('required')" class="text-danger">Name Required
      <p>
      <p *ngIf="registerForm.controls.name.hasError('name')" class="text-danger">Invalid Name Format
      <p>
    </div>
  </div>

  <!-- Username input -->
 

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="registerEmail" class="form-control" formControlName="email"/>
    <label class="form-label" for="registerEmail">Email</label>
    <div *ngIf="registerForm.controls['email'].errors">
      <p *ngIf="submit&&registerForm.controls.email.hasError('required')" class="text-danger">Email Required
      <p>
      <p *ngIf="registerForm.controls.email.hasError('email')" class="text-danger">Invalid Email Format
      <p>
    </div>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="registerPassword" class="form-control" formControlName="password"/>
    <label class="form-label" for="registerPassword">Password</label>
    <div *ngIf="registerForm.controls['password'].errors">
      <p *ngIf="submit&&registerForm.controls.password.hasError('required')" class="text-danger">Password Required
      <p>
      <p *ngIf="registerForm.controls.password.hasError('pattern')" class="text-danger">Invalid Password Format
      <p>
    </div>
  </div>

  <!-- Repeat Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="registerRepeatPassword" class="form-control" formControlName="cpassword"/>
    <label class="form-label" for="registerRepeatPassword">Repeat password</label>
    <div *ngIf="registerForm.controls['password'].errors">
      <p *ngIf="submit&&registerForm.controls.password.hasError('required')" class="text-danger">Password Required
      <p>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
</form>
</div>